body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    text-decoration: none;
    color: info;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: primary;
}

.modal {
    text-align:center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
}

