{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Reading Log | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default" style="margin: 0px; border-color: darkgray; background-color: rgb(222, 222, 222);">
        <div class="container-fluid" style="padding: 0px; padding-right: 15px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    <div class="container-fluid bg-primary text-center" style="padding-top: 50px; padding-bottom: 50px;">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-push-10">
                <div class="container" style="width: 300px">
                    <ul class="sidebar-nav well" >
                        <h2 style="margin-left: 20px; margin-top: 20px; font-weight: 700; color: rgb(60,60,60);">Pages</h2>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'books' %}">Bookshelves</a></li>
                        <li><a href="{% url 'stats' %}">Statistics</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-md-10 col-md-pull-2">
                <div class="container" style="width: 930px">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Created by Benita Abraham</p>
    </div>
</body>
</html>
