{% extends 'main/base.html' %}
{% load extract %}
{% block title %}Bookshelves{% endblock %}
{% block header %}Bookshelves{% endblock %}
{% block content %}
<div class="row">
    <div class="row" style="margin-right: 10px;">
        <button type="button" class="btn btn-primary pull-right" style="margin-bottom:10px" data-toggle="modal" data-target="#newShelf" >Create New Bookshelf</button>
        <div class="modal fade" id="newShelf" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <form method="post" style="margin: 0px" action="../newBookshelf">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Create New Bookshelf</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <h5><b>Choose some books to start off...</b></h5>
                    <div class="row" style="overflow-y: auto;">
                        {% for book in books|slice:":12" %}
                        <div class="col-sm-4" style="height: 260px;">
                          {% with data=book.id|extract_data %}
                          <div class="checkbox">
                            <label><input type="checkbox" value="{{book.id}}" id="{{book.id}}" name="Books"><img src="{{data.image}}" alt="thumbnail" style="max-height: 196px; max-width: 128px;"><br>{{book.title}}</label>
                          </div>
                          {% endwith %}
                        </div>
                        
                        {% endfor %}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="add" value="add">Add</button>

                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
    <div class="panel-group">
        {% for shelf in shelves %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><a href="{% url 'shelf' id=shelf.id page=1 sort='finish_date' %}">{{shelf.name}} </a><span class="badge">{{shelf.book_set.all.count}}</span></h4>
                {% for book in shelf.book_set.all|slice:":4" %}
                <div class="col-sm-3 text-center">
                    {% with data=book.id|extract_data %}
                    <a href="{% url 'view' book.id %}"><img src="{{data.image}}" alt="thumbnail" style="max-height: 196px; max-width: 128px;"></a>
                        <div class="caption text-dark">
                            <h5><b><a href="{% url 'view' book.id %}" style="color: rgb(60,60,60)">{{data.title}}</a></b></h5>
                        </div>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}