{% extends 'main/base.html' %}
{% load extract %}
{% block title %}Bookshelves{% endblock %}
{% block header %}Bookshelves{% endblock %}
{% block content %}
<div class="row">
    <div class="panel-group">
        {% for shelf in shelves %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><a href="{% url 'shelf' id=shelf.id page=1 sort='finish_date' %}">{{shelf.name}} </a><span class="badge">{{shelf.book_set.all.count}}</span></h4>
                {% for book in shelf.book_set.all|slice:":4" %}
                <div class="col-sm-3 text-center">
                    {% with data=book.id|extract_data %}
                    <a href="{% url 'view' book.id %}"><img src="{{data.image}}" alt="thumbnail" style="max-height: 196px; max-width: 128px;"></a>
                        <div class="caption text-dark">
                            <h5><b><a href="{% url 'view' book.id %}" style="color: rgb(60,60,60)">{{data.title}}</a></b></h5>
                        </div>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}