{% extends 'main/base.html' %}
{% load extract %}


{% block title %}{% with data=book_id|extract_data %}{{ data.title }}{% endwith %}{% endblock %}
{% block content %}
{% with data=book_id|extract_data %}
<div class="row">
    <div class="col-lg-4">
        <img src="{{ data.image }}" alt="thumbnail" style="height: 292px; width: 192px;">
    </div>
    <div class="col-lg-8">
        <h1><b>{{ data.title }}</b></h1> 
        <h1><small>{{ data.authors }}</small></h1>
        <p><b>Published:</b> {{ data.pub_date }}</p>
        <p><b>Publisher:</b> {{ data.publisher }}</p>
        <p><b>Page Count:</b> {{ data.page_count }}</p>
        <p><b>Average Rating:</b> 
            <span class="glyphicon {% if data.avg_rating >= 1 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 2 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 3 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 4 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 5 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            ({{ data.avg_rating }}/5)
        </p>
        {% if added %}
            {% if not book.started %}
            <form method="post" style="margin: 0px" action="../changeBookshelf/{{book.id}}">
                {% csrf_token %}
                <button type="submit" class="btn btn-info" name="start", value="start">Start</button>
            </form>
            {% endif %}
            {% if book.started and book.finished != True %}
            <form method="post" style="margin: 0px" action="../changeBookshelf/{{book.id}}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="dnf", value="dnf">DNF</button>
                <button type="submit" class="btn btn-success" name="finish", value="finish">Finish</button>
            </form>
            {% endif %}
            
        {% endif %}
    </div>
</div>
<div class="row" style="padding-top: 10px">
    {% autoescape off %}
    <p style="display:inline;"><b>Description: </b>{{ data.desc|split|slice:"0:5"|join:'<br>' }}</p>
    <p class="collapse" id="collapseDesc">{{ data.desc|split|slice:"5:"|join:'<br>' }}</p>
    <a role="button" class="collapsed" data-toggle="collapse" href="#collapseDesc" aria-expanded="false" aria-controls="collapseExample">+/-</a>
    {% endautoescape %}
    {% if added %}
    <div class="row" style="margin: 0px; padding-right: 5px">
        <p class="pull-right" data-toggle="modal" data-target="#edit"><a>Edit</a></p>
        <div class="modal fade" id="edit" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <form method="post" action="../editDetails/{{book.id}}">
                    {% csrf_token %}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Edit Details</h4>
                </div>
                <div class="modal-body">
                    <!--
                    <div class="form-group">                        
                        <label class="control-label col-sm-offset-2 col-sm-2" for="status">Status:</label>
                        <div class="col-sm-6 col-md-4">
                          <select id="status" class="form-control" name="status">
                            <option {% if book.started != True %}selected{% endif %}>To Read</option>
                            <option {% if book.started and book.finished != True %}selected{% endif %}>Started</option>
                            <option {% if book.finished %}selected{% endif %}>Finished</option>
                          </select> 
                        </div>
                    </div>-->
                    <br>
                    {% if book.started %}
                    <div class="form-group">                        
                        <label class="control-label col-sm-offset-2 col-sm-3" for="startDate">Start Date:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="date" id="startDate" name="startDate" value="{{ book.start_date|date:"Y-m-d" }}">
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    {% if book.dnfed or book.finished %}
                    <div class="form-group">                        
                        <label class="control-label col-sm-offset-2 col-sm-3" for="finishDate">Finish Date:</label>
                        <div class="col-sm-4 col-md-4">
                            <input type="date" id="finishDate" name="finishDate" value="{{ book.finish_date|date:"Y-m-d" }}">
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    {% if book.started and book.finished != True %}
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-3" for="progress">Progress:</label>
                        <div class="col-sm-4 col-md-4"><input type="number" class="form-control" style="width: 120px" name="progress" value="{{book.progress}}"></div>
                      </div>
                    {% endif %}
                    <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" name="edit", value="edit" class="btn btn-default">Save</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Status</small></h3>
            <p>{% if book.dnfed %}DNF{% elif book.finished %}Finished{% elif book.started %}Started{% else %}To Read{% endif %}</p>
        </div>
        {% if book.started %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Start Date</small></h3>
            <p>{{ book.start_date }}</p>
        </div>
        {% endif %}
        {% if book.dnfed or book.finished %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Finish Date</small></h3>
            <p>{{ book.finish_date }}</p>
        </div>
        {% endif %}
        {% if book.started and book.finished != True %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Progress</small></h3>
            <p>{{ book.progress }}%</p>
        </div>
        {% endif%}
        {% if book.finished %}
        <div class="col-sm-3 text-center">
            <h3><small>Read Time</small></h3>
            <p>{{ book.start_date|timesince:book.finish_date }}</p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="container">
        {% if book.finished %}
            <p><b>My rating:</b></p>
            <h1>
                <form method="post" action="{% url 'editRating' book.id %}"> 
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-lg" style="border: 0; padding: 0;" name="rating" value="1"><span class="glyphicon {% if book.rating >= 1 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span></button>
                    <button type="submit" class="btn btn-default btn-lg" style="border: 0; padding: 0;" name="rating" value="2"><span class="glyphicon {% if book.rating >= 2 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span></button>
                    <button type="submit" class="btn btn-default btn-lg" style="border: 0; padding: 0;" name="rating" value="3"><span class="glyphicon {% if book.rating >= 3 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span></button>
                    <button type="submit" class="btn btn-default btn-lg" style="border: 0; padding: 0;" name="rating" value="4"><span class="glyphicon {% if book.rating >= 4 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span></button>
                    <button type="submit" class="btn btn-default btn-lg" style="border: 0; padding: 0;" name="rating" value="5"><span class="glyphicon {% if book.rating >= 5 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span></button>
                </form>
            </h1>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="likes">Likes:</label>
                    <div class="well" style="background-color:whitesmoke;" data-toggle="modal" data-target="#likes">{{book.likes}}</div>
                    <!-- <textarea value="{{book.likes}}" class="form-control" rows="5" id="likes" data-toggle="modal" data-target="#likes"></textarea> -->
                </div>
                <div class="col-lg-6 form-group">
                    <label for="dislikes">Dislikes:</label>
                    <div class="well" style="background-color: whitesmoke;" data-toggle="modal" data-target="#dislikes">{{book.dislikes}}</div>
                    <!-- <textarea value="{{book.dislikes}}" class="form-control" rows="5" id="dislikes" data-toggle="modal" data-target="#dislikes"></textarea> -->
                </div>
            </div>
            <div class="modal fade" id="likes" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form method="post" action="../editLikes/{{book.id}}">
                        {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="likes">{{book.likes}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" name="likesButton" class="btn btn-default">Save</button>
                    </div>
                    </form>
                  </div>
                </div>
            </div>
           
            <div class="modal fade" id="dislikes" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form method="post" action="../editDislikes/{{book.id}}">
                        {% csrf_token %}
                    <div class="modal-body">
                        <textarea class="form-control" rows="5" name="dislikes">{{book.dislikes}}</textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" name="dislikesButton" class="btn btn-default">Save</button>
                    </div>
                    </form>
                  </div>
                </div>
            </div>
            
        {% endif %} 
        </div>
    </div>
    {% endif %}

</div>
{% endwith %}
{% endblock %}

