{% extends 'main/base.html' %}
{% load extract %}


{% block title %}{% with data=book_id|extract_data %}{{ data.title }}{% endwith %}{% endblock %}
{% block content %}
{% with data=book_id|extract_data %}
<div class="row">
    <div class="col-lg-4">
        <img src="{{ data.image }}" alt="thumbnail" style="height: 292px; width: 192px;">
    </div>
    <div class="col-lg-8">
        <h1><b>{{ data.title }}</b></h1> 
        <h1><small>{{ data.authors }}</small></h1>
        <p><b>Published:</b> {{ data.pub_date }}</p>
        <p><b>Publisher:</b> {{ data.publisher }}</p>
        <p><b>Page Count:</b> {{ data.page_count }}</p>
        <p><b>Average Rating:</b> 
            <span class="glyphicon {% if data.avg_rating >= 1 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 2 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 3 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 4 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            <span class="glyphicon {% if data.avg_rating >= 5 %}glyphicon glyphicon-star{% else %}glyphicon glyphicon-star-empty{% endif %} text-warning"></span>
            ({{ data.avg_rating }}/5)
        </p>
        {% if added %}
            {% if not book.started %}
            <form method="post" style="margin: 0px" action="../changeBookshelf/{{book.id}}">
                {% csrf_token %}
                <button type="submit" class="btn btn-info" name="start", value="start">Start</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row" style="padding-top: 10px">
 
    <p><b>Description: </b>{% with html=data.desc|extract_html %}{{ html }} {% endwith %}</p>
    {% if added %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Status</small></h3>
            <p>{% if book.dnfed %}DNF{% elif book.finished %}Finished{% elif book.started %}Started{% else %}To Read{% endif %}</p>
        </div>
        {% if book.started %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Start Date</small></h3>
            <p>{{ book.start_date }}</p>
        </div>
        {% endif %}
        {% if book.dnfed or book.finished %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Finish Date</small></h3>
            <p>{{ book.finish_date }}</p>
        </div>
        {% endif %}
        {% if book.started and book.finished != True %}
        <div class="col-sm-3 text-center" style="border-right-style: solid; border-right-width: 1px;">
            <h3><small>Progress</small></h3>
            <p>{{ book.progress }}%</p>
        </div>
        {% endif%}
        {% if book.finished %}
        <div class="col-sm-3 text-center">
            <h3><small>Read Time</small></h3>
            <p>{{ book.finish_date|timesince:book.start_date }}</p>
        </div>
        {% endif %}
    {% endif %}
    
</div>
{% endwith %}
{% endblock %}

